body {
  background-color: black;
  color: white;
}


.column-div-1 {
  display: inline-block;
}

.column-div-2 {
  display: inline-block;
}

.homeHeader {
  font-size: 15px;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

