body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
 }



.column-div-1 {
  margin-right: 10px;
}


.header-div {
  margin-bottom: -10px;
}

.nav ul{
  display: flex;
}

.spotify-image {
  margin-right: 350px;
  padding-left: -40px;
}

.spotify-image:hover {
  cursor: pointer;
}

.home {
  width: 38px;
  height: 38px;
  margin-right: 5px;
  margin-top: 8px;
}

.search-bar {
  margin-right: 130px;
}

.sign-up {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(165, 160, 160);
  margin-right: 30px;
  margin-top: 15px;
}

.sign-up:hover {
  transform: scale(1.05);
  color: white;
  cursor: pointer;
}

.log-in {
  height: 50px;
  width: 110px;
  border-radius: 30px;
  border-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.log-in:hover {
  transform: scale(1.05);
}

.results-div {
  padding-right: 0px;
  background-color: rgb(13, 11, 11);
  border-radius: 10px;
}



